.container {
    border-color: var(--theme-color);
    border-width: 2px;
    border-style: solid;
}

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;

}

#magi-container {
    position: relative;
    width: 98%;
    height: 90%;
    min-height: 400px;
}

#input-container {
    height: 7%;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#input-title {
    font-family: 'D2Coding', var(--font-family-base);
    font-size: 2.5rem;
    font-weight:bolder;
    padding: 10px;
    color: var(--theme-color);
}

.input-field {
    width: 80%;
    height: 50%;
    border: 1px solid var(--theme-color);
    padding: 10px;
    background-color: transparent;
    color: var(--theme-color);
    font-size: 1rem;
    font-weight: 100;    
}
input:focus,
textarea:focus,
select:focus {
  outline: none;      /* 파란 외곽선 제거 */
  box-shadow: none;   /* 그림자 효과 제거 */
  border-color: inherit;  /* 클릭 시 border 색 유지 */
}

.input-button {
    font-family: 'TsukuhouShogoMin', var(--font-family-base);
    width: 10rem;
    height: 50%;
    margin-right: 10px;
    color:black;
    background-color: var(--theme-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: transparent;
        color: var(--theme-color);
    }
}

.balthasar-svg {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: auto;
}

.melchior-svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35vw;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.casper-svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35vw;
    height: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
    .balthasar-svg {
        width: 450px;
        top: 35%;
    }
    
    .melchior-svg {
        width: 350px;
        right: 0;
    }
    
    .casper-svg {
        width: 350px;
        left: 0;
    }
}

@media screen and (min-width: 1440px) {
    .balthasar-svg {
        width:600px;
        top: 2%;
    }
    
    .melchior-svg {
        width: 650px;
        right: 0;
    }
    
    .casper-svg {
        width: 650px;
        left: 0;
    }
}