.container {
    border-color: var(--theme-color);
    border-width: 2px;
    border-style: solid;
    box-shadow:
    0 0 2px #ff6600,
    0 0 4px #ff3300,
    0 0 6px #ff0000;   
}

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;

}

#magi-container {
    position: relative;
    width: 98%;
    height: 90%;
    min-height: 400px;
}

#input-container {
    height: 7%;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#input-title {
    font-family: monospace;
    font-size: 2rem;
    padding: 10px;
    padding-right:0;
    color: var(--theme-color);
    letter-spacing: -0.05em;
    text-shadow:
        0 0 2px #ff6600,
        0 0 4px #ff3300,
        0 0 6px #ff0000;
}

.input-field {
    width: 80%;
    height: 50%;
    border:none;
    font-family: monospace;
    /* border: 1px solid var(--theme-color); */
    padding: 10px;
    padding-left:0;
    background-color: transparent;
    color: var(--theme-color);
    font-size: 1.5rem;
    font-weight:400;    
    text-shadow:
        0 0 2px #ff6600,
        0 0 4px #ff3300,
        0 0 6px #ff0000;
}

.input-field::placeholder {
    color: var(--theme-color);
    font-weight: 600;
    text-shadow:
        0 0 2px #ff6600,
        0 0 4px #ff3300;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;      /* 파란 외곽선 제거 */
  box-shadow: none;   /* 그림자 효과 제거 */
  border-color: inherit;  /* 클릭 시 border 색 유지 */
}

input:focus::placeholder {
    color: transparent;
    text-shadow: none;
  }

.input-button {
    font-family: monospace;
    width: 10rem;
    height: 50%;
    margin-right: 10px;
    color:black;
    background-color: var(--theme-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: transparent;
        color: var(--theme-color);
    }
    box-shadow:
    0 0 2px #ff6600,
    0 0 4px #ff3300,
    0 0 6px #ff0000;
}

.balthasar-svg {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: auto;
}

.melchior-svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35vw;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.casper-svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35vw;
    height: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.magi-title {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: var(--theme-color);
    letter-spacing: 0.05em;
    text-shadow:
        0 0 2px #ff6600,
        0 0 4px #ff3300,
        0 0 6px #ff0000,
        0 0 8px #ff0000,
        0 0 10px #ff0000;
}

@media screen and (min-width: 1024px) {
    .balthasar-svg {
        width: 450px;
        top: 35%;
    }
    
    .melchior-svg {
        width: 350px;
        right: 0;
    }
    
    .casper-svg {
        width: 350px;
        left: 0;
    }
}

@media screen and (min-width: 1440px) {
    .balthasar-svg {
        width:600px;
        top: 2%;
    }
    
    .melchior-svg {
        width: 650px;
        right: 0;
    }
    
    .casper-svg {
        width: 650px;
        left: 0;
    }
}