:root {
  --font-family-base: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight-base: 400;
  --line-height-base: 1.5;

  --color-bg: #333;
  --color-text: #fff;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
