:root {
  --font-family-base: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-weight-base: 400;
  --line-height-base: 1.5;

  --color-bg: #000000;
  --color-text: #fff;
  --theme-color: #FF7F00;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  
}



button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'TsukuhouShogoMin';
  src: url('/fonts/TsukuhouShogoMin-OFL.otf') format('truetype');
}

@font-face {
  font-family: 'D2Coding';
  src: url('/fonts/D2Coding-Ver1.3.2-20180524-all.ttc') format('truetype');
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}